<div class="page-section" id="durus">
    <div class="section-header">
        <div>
            <div class="section-title">Duruş Analizi</div>
            <div class="section-sub">Kayıplar</div>
        </div>
    </div>

    <div class="card">
        <div class="card-title">Duruş Detay</div>
        <table>
            <tr><th>Tip</th><th>Süre</th></tr>
            <tr><td>Bakım</td><td>0</td></tr>
            <tr><td>Otomasyon</td><td>0</td></tr>
        </table>
    </div>
</div>