@using DTOLayer.Dtos.MachineStopDtos
@model List<MachineStopDto>

<div class="page-section" id="durus">
    <div class="section-header">
        <div>
            <div class="section-title">Duruş Analizi</div>
            <div class="section-sub">Kayıplar</div>
        </div>
    </div>

    <div class="card">
        <div class="card-title">Duruş Detay</div>
        <table>
            <tr>
                <th>
                   Lokasyon
                </th>
                <th>
                   Duruş Nedeni
                </th>

                <th>
                   Süre (dk)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BreakLocation</td>
                    <td>@item.DowntimeReason</td>
                    <td>@item.DowntimeDuration</td>
                </tr>
               
            }
            
            
        </table>
    </div>
</div>