@using DTOLayer.Dtos.RawMaterialIntakesDtos
@using AquaBusinessTrackingWebUI.Models
@model ModalViewModel<RawMaterialIntakesDto>

<div class="modal fade" id="rawMaterialsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">@Model.ModalTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="post" action="/RawMaterialIntakes/Edit">
                <div class="modal-body">

                    <input type="hidden" name="IsEdit" value="@Model.IsEdit.ToString().ToLower()" />

                    @if (Model.IsEdit)
                    {
                        <input type="hidden" asp-for="Entity.RecId" />
                    }

                    <div class="row g-3">

                        <div class="col-md-4">
                            <label class="form-label">Tarih</label>
                            <input type="date" asp-for="Entity.ReceiptDate" class="form-control" />
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Saat</label>
                            <input type="time" asp-for="Entity.ScaleHours" class="form-control" />
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Vardiya</label>
                            <select asp-for="Entity.ShiftId" asp-items="ViewBag.Shifts" class="form-select">
                                <option value="">Vardiya Seçiniz</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">İrsaliye No</label>
                            <input type="text" asp-for="Entity.WaybillNo" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Cari Adı</label>
                            <input type="text" asp-for="Entity.CurrentAccountName" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Araç Plakası</label>
                            <input type="text" asp-for="Entity.TruckPlate" class="form-control" placeholder="34 ABC 123" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Operatör</label>
                            <input type="text" asp-for="Entity.Operator" class="form-control" />
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">İrsaliye Miktarı (Kg)</label>
                            <input type="number"
                                   step="0.01"
                                   asp-for="Entity.WaybillQuantity"
                                   class="form-control" />
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Dolu Ağırlık (Kg)</label>
                            <input type="number"
                                   step="0.01"
                                   asp-for="Entity.FilledQuantity"
                                   class="form-control" id="filledQuantity" " />
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Boş Ağırlık (Kg)</label>
                            <input type="number"
                                   step="0.01"
                                   asp-for="Entity.EmptyQuantity"
                                   class="form-control" id="emptyQuantity" />
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Net Ağırlık (Kg)</label>
                            <input type="number"
                                   step="0.01"
                                   asp-for="Entity.NetQuantity"
                                   class="form-control"
                                   id="netQuantity"  readonly data-diff-a="filledQuantity" data-diff-b="emptyQuantity" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Kayıt Eden</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <ion-icon name="person-outline"></ion-icon>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       value="@ViewBag.AppUserName"
                                       disabled />
                            </div>
                        </div>

                        <input type="hidden" asp-for="Entity.DepartmentId" />
                        <input type="hidden" asp-for="Entity.AppUserId" />
                        <input type="hidden" asp-for="Entity.InsertDate" />
                        <input type="hidden" asp-for="Entity.UpdateDate" />

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal">
                        İptal
                    </button>

                    <button type="submit"
                            class="btn btn-success px-4">
                        <ion-icon name="save-outline" class="me-1"></ion-icon>
                        @(Model.IsEdit ? "Güncelle" : "Kaydet")
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>