@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_UserLayout/Index.cshtml";
}

<!DOCTYPE html>
<html lang="tr">

    @await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body>

    @await Component.InvokeAsync("_AdminLayoutStatisticComponentPartial")

    @*
    <!-- TOP NAV -->
    <div class="topnav">
        <a href="#ozet">Genel Özet</a>
        <a href="#hammadde">Hammadde & Kimyasal</a>
        <a href="#enerji">Enerji & Su</a>
        <a href="#durus">Duruş Analizi</a>
        <a href="#stok">Stok & Üretim</a>
        <a href="#sevk">Sevkiyat & Satış</a>
    </div>
    *@

    <div class="content">


        <!-- SEVKİYAT & SATIŞ -->
        @await Component.InvokeAsync("_AdminLayoutShippingSalesComponentPartial")
       
        <!-- ÖZET -->
        @await Component.InvokeAsync("_AdminLayoutSummaryComponentPartial")

        <!-- STOK -->
        @await Component.InvokeAsync("_AdminLayoutStockComponentPartial")

        <!-- HAMMADDE -->
        @await Component.InvokeAsync("_AdminLayoutRawmaterialsComponentPartial")

        <!-- ENERJİ -->
        @await Component.InvokeAsync("_AdminLayoutEnergyComponentPartial")

        <!-- Gaz -->
        @await Component.InvokeAsync("_AdminLayoutNaturelGasTrackingComponentPartial")

        <!-- DURUŞ -->
        @await Component.InvokeAsync("_AdminLayoutStanceComponentPartial")

        @await Component.InvokeAsync("_AdminLayoutPulperLevelComponentPartial")
       

    </div>


    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
</body>
</html>