@using AquaBusinessTrackingWebUI.Models
@using DTOLayer.Dtos.OilAnalysisReportDtos
@model ModalViewModel<OilAnalysisReportDto>

<div class="modal fade" id="OilAnalysisReportModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">@Model.ModalTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="post" action="/OilAnalysisReport/Edit">
                <div class="modal-body">
                    <div class="row g-3">

                        @if (Model.IsEdit)
                        {
                            <input type="hidden" asp-for="Entity.RecId" />
                            <input type="hidden" asp-for="Entity.DepartmentId" />
                        }

                        <div class="col-md-8">
                            <label class="form-label">Fiş Tarihi</label>
                            <input type="date" asp-for="Entity.ReceiptDate" class="form-control" />
                        </div>
                        <!-- Lokasyon -->
                        <div class="col-md-8">
                            <label class="form-label">Lokasyon (Numune Alınan Yer)</label>
                            <input type="text" asp-for="Entity.LocationSampleWasTaken" class="form-control" />
                        </div>

                        <!-- Saat -->
                        <div class="col-md-4">
                            <label class="form-label">Saat</label>
                            <input type="number" asp-for="Entity.Hours" class="form-control" />
                        </div>

                        <!-- Tarih -->
                        <div class="col-md-4">
                            <label class="form-label">Tarih</label>
                            <input type="date" asp-for="Entity.ReceiptDate" class="form-control" />
                        </div>

                        <!-- Vardiya -->
                        <div class="col-md-4">
                            <label class="form-label">Vardiya</label>
                            <select asp-for="Entity.ShiftId" asp-items="ViewBag.Shifts" class="form-select">
                                <option value="">Seçiniz</option>
                            </select>
                        </div>

                        <!-- InUse -->
                        <div class="col-md-4">
                            <label class="form-label">Aktiflik</label>
                            <select asp-for="Entity.InUse" class="form-select">
                                <option value="1">Aktif</option>
                                <option value="0">Pasif</option>
                            </select>
                        </div>

                        <!-- Kayıt Eden (sadece gösterim) -->
                        <div class="col-md-6">
                            <label class="form-label">Kayıt Eden</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <ion-icon name="person-outline"></ion-icon>
                                </span>
                                <input type="text" class="form-control" value="@ViewBag.AppUserName" disabled />
                            </div>
                        </div>



                        <!-- Hidden alanlar -->
                        <input type="hidden" asp-for="Entity.AppUserId" />
                        <input type="hidden" asp-for="Entity.InsertDate" />
                        <input type="hidden" asp-for="Entity.UpdateDate" />
                        <input type="hidden" asp-for="Entity.DeleteDate" />
                        <input type="hidden" asp-for="Entity.DeletedBy" />
                        <input type="hidden" asp-for="Entity.UpdatedBy" />
                        <input type="hidden" asp-for="Entity.DepartmentId" />

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        İptal
                    </button>

                    <button type="submit" class="btn btn-success px-4">
                        <ion-icon name="save-outline" class="me-1"></ion-icon>
                        @(Model.IsEdit ? "Güncelle" : "Kaydet")
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>