@using DTOLayer.Dtos.ElectricDtos.ElectricShiftDtos
@model ModalViewModel<ElectricShiftWorkDto>

<div class="modal fade" id="electricShiftModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">@Model.ModalTitle</h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <form method="post" action="/ElectricShiftWork/Edit">

                <div class="modal-body">
                    <div class="row g-3">

                        @if (Model.IsEdit)
                        {
                            <input type="hidden" asp-for="Entity.RecId" />

                            <input type="hidden" asp-for="Entity.UpdateDate" />
                        }
                        <input type="hidden" asp-for="Entity.InsertDate" />

                        <!-- VARDIYA -->
                        <div class="col-md-6">
                            <label class="form-label">Vardiya</label>

                            <select asp-for="Entity.ShiftId"
                                    asp-items="ViewBag.Shifts"
                                    class="form-select">

                                <option value="">Vardiya Seçiniz</option>
                            </select>
                        </div>

                        <!-- KULLANICI -->
                        <div class="col-md-6">
                            <label class="form-label">Kullanıcı</label>

                            <select asp-for="Entity.AppUserId"
                                    asp-items="ViewBag.AppUsers"
                                    class="form-select">

                                <option value="">Kullanıcı Seçiniz</option>
                            </select>
                        </div>




                    </div>
                </div>

                <div class="modal-footer">

                    <button type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal">
                        İptal
                    </button>

                    <button type="submit"
                            class="btn btn-success px-4">

                        <ion-icon name="save-outline" class="me-1"></ion-icon>

                        @(Model.IsEdit ? "Güncelle" : "Kaydet")
                    </button>

                </div>

            </form>

        </div>
    </div>
</div>