@using AquaBusinessTrackingWebUI.Models
@using DTOLayer.Dtos.BoilerSteamFeedWaterCondensateDataDtos
@model ModalViewModel<BoilerSteamFeedWaterCondensateDataDto>

<div class="modal fade" id="boilerSteamFeedWaterCondensateDataModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">@Model.ModalTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="post" action="/BoilerSteamFeedWaterCondensateData/Edit">
                <div class="modal-body">

                    <input type="hidden" name="IsEdit" value="@Model.IsEdit.ToString().ToLower()" />

                    @if (Model.IsEdit)
                    {
                        <input type="hidden" asp-for="Entity.RecId" />
                    }

                    <div class="row g-3">

                        <!-- Tarih -->
                        <div class="col-md-4">
                            <label class="form-label">Tarih</label>
                            <input type="date"
                                   asp-for="Entity.Date"
                                   class="form-control" />
                        </div>

                        <!-- Boil -->
                        <div class="col-md-4">
                            <label class="form-label">Boil</label>
                            <input type="number"
                                   step="0.01"
                                   asp-for="Entity.Boil"
                                   class="form-control" />
                        </div>

                        <!-- Feed Water -->
                        <div class="col-md-4">
                            <label class="form-label">Feed Water</label>
                            <input type="number"
                                   step="0.01"
                                   asp-for="Entity.FeedWater"
                                   class="form-control" />
                        </div>

                        <!-- KM2 Kodens -->
                        <div class="col-md-6">
                            <label class="form-label">KM2 Kodens</label>
                            <input type="number"
                                   step="0.01"
                                   asp-for="Entity.KM2Kodens"
                                   class="form-control" />
                        </div>

                        <!-- HVAC -->
                        <div class="col-md-6">
                            <label class="form-label">HVAC</label>
                            <input type="number"
                                   step="0.01"
                                   asp-for="Entity.Hvac"
                                   class="form-control" />
                        </div>

                        <!-- Vardiya -->
                        <div class="col-md-4">
                            <label class="form-label">Vardiya</label>
                            <select asp-for="Entity.ShiftId"
                                    asp-items="ViewBag.Shifts"
                                    class="form-select">
                                <option value="">Vardiya Seçiniz</option>
                            </select>
                        </div>

                        <!-- Kullanıcı -->
                        <div class="col-md-4">
                            <label class="form-label">Kayıt Eden</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <ion-icon name="person-outline"></ion-icon>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       value="@ViewBag.AppUserName"
                                       disabled />
                            </div>
                        </div>

                        <!-- Hidden Alanlar -->
                        <input type="hidden" asp-for="Entity.DepartmentId" />
                        <input type="hidden" asp-for="Entity.AppUserId" />
                        <input type="hidden" asp-for="Entity.InsertDate" />
                        <input type="hidden" asp-for="Entity.UpdateDate" />
                        <input type="hidden" asp-for="Entity.DeleteDate" />
                        <input type="hidden" asp-for="Entity.InUse" />
                        <input type="hidden" asp-for="Entity.DeletedBy" />
                        <input type="hidden" asp-for="Entity.UpdatedBy" />

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal">
                        İptal
                    </button>

                    <button type="submit"
                            class="btn btn-success px-4">
                        <ion-icon name="save-outline" class="me-1"></ion-icon>
                        @(Model.IsEdit ? "Güncelle" : "Kaydet")
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>